<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link
		href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=IBM+Plex+Serif:wght@400;500;600&family=Playfair+Display&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />


	<!-- Covid Care Demo Specific Stylesheet -->
	<link rel="stylesheet" href="demos/covid-care/covid-care.css" type="text/css" /> <!-- Covid Care Custom Css -->
	<link rel="stylesheet" href="demos/covid-care/css/fonts.css" type="text/css" /> <!-- Covid Care Custom Fonts -->
	<!-- / -->

	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="css/colors.php?color=0F6458" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>Contact - Covid Care | ZoomLabCare</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="py-4 text-center bg-color-2">
			<div class="container clearfix">
				<h4 class="mb-0 h6 fst-normal">COVID-19? We're in this together &amp; will get through this, Together.</h4>
			</div>
		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
												============================================= -->
						<div id="logo">
							<a href="/" class="standard-logo">
								<img src="images/New-Logo-1-removebg-preview.png" alt="Zoom Lab Logo">
							</a>
						</div><!-- #logo end -->

						<!-- Primary Menu Mobile Trigger
						============================================= -->
						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100">
								<path
									d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
								</path>
								<path d="m 30,50 h 40"></path>
								<path
									d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
								</path>
							</svg>
						</div>

						<!-- Header Buttons
						============================================= -->
						<div class="header-misc">
							<a href="tel:(773) 961-7924"
								class="button rounded-pill bg-color-2 button-light text-dark ls0 fw-medium m-0">Call Now!</a>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu">

							<ul class="menu-container">
								<li class="menu-item"><a class="menu-link" href="/">
										<div>Home</div>
									</a></li>
								<li class="menu-item"><a class="menu-link" href="about">
										<div>About Us</div>
									</a></li>
								<li class="menu-item"><a class="menu-link" href="services">
										<div>Services</div>
									</a></li>
								<!-- <li class="menu-item"><a class="menu-link" href="blog">
										<div>Blog</div>
									</a></li> -->
								<li class="menu-item"><a class="menu-link" href="contact">
										<div>Contact</div>
									</a></li>
								<li class="menu-item"><a class="menu-link" href="login">
										<div>Member Login</div>
									</a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		<!-- Slider / Hero
		============================================= -->
		<div id="slider" class="slider-element dark py-0"
			style="background-size: cover; background-image: url('demos/covid-care/images/page-title/contact.jpg'); background-position: center center; background-repeat: no-repeat;">

			<div class="container">
				<div class="row text-center py-5 min-vh-md-75 justify-content-center align-items-center">
					<div class="col-lg-6">
						<h5 class="mb-1 text-uppercase ls3 text-white-50 font-body">Get in Touch</h5>
						<h2 class="display-3 fw-bolder ls3 font-display mb-5">Contact Us</h2>
						<!-- <a href="#" class="button button-large rounded-pill bg-color-2 button-light text-dark ls0 fw-medium m-0">Sign Up Now</a> -->
					</div>
				</div>
			</div>
		</div>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row justify-content-around">
						<div class="col-lg-5">
							<h3 class="display-3 color fw-normal font-display mb-5">Get In Touch</h3>

							<p class="mb-5">Thank you for choosing ZoomLabCare for COVID-19 testing. <br><br>

								It takes 24-48 days for test results to come back from the lab. We use more than one lab, so it is
								possible that some
								people in your family may receive results sooner than others.<br><br>


								If you have a question about test types, follow up care or feedback, please email us at
								info@zoomlabcare.com or call us at (773) 961-7924 or (708) 774-1040. Email is the best way to reach us,
								as we are not able to keep up with the high call
								volume related to COVID-19. Our team sees more than 2,500 patients every day. Your inquiry is important
								to us, and we
								will get back to you via email as soon as possible, typically within 48 hours.<br>

								Thank you for your patience and understanding.</p>

							<div class="clear"></div>

						</div>

						<div class="col-lg-5 pt-5">
							<div class="feature-box fbox-sm mb-3">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-call"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2 color">
										<strong class="mb-2 h6 d-block text-dark">Covid Testing Center</strong>
										2721 W Peterson Ave<br>
										Chicago, IL 60659<br>
									</h3>
								</div>
							</div>
							<div class="feature-box fbox-sm mb-3">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-call"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">
										<a href="tel:(773) 961-7924">(773) 961-7924</a><br>
										<a href="tel:(708) 774-1040">(708) 774-1040</a>
									</h3>
								</div>
							</div>
							<div class="feature-box fbox-sm mb-5">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-email3"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2"><a
											href="mailto:info@zoomlabcare.com">info@zoomlabcare.com</a></h3>
								</div>
							</div>
						</div>
					</div>

					<div class="row py-5 ">
						<div class="col">
							<iframe height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
								src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=en&amp;q=2721%20W%20Peterson%20Ave%20Chicago,%20IL%2060659+(ZoomLabCare)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
									href="https://www.gps.ie/sport-gps/">gps watches</a>
							</iframe>
						</div>
					</div>
					<div class="card bg-color-2 border-0 pt-3"
						style="background: url(demos/covid-care/images/illustration/bg-pattern.svg) no-repeat center left / auto 300%;">
						<p class="text-center">Please don't hesistate to call or text us anytime</p>
					</div>

				</div>

			</div>
		</section><!-- #content end -->

		<!-- Footer
				============================================= -->
		<footer id="footer" class="dark bg-color border-top-0"
			style="background: url('demos/covid-care/images/illustration/footer-bg.svg') repeat center center / contain;">
			<div class="container">

				<!-- Footer Widgets
						============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row justify-content-center">
						<!-- <div class="col-md-7 mb-3 text-center">
									<h3 class="display-3 fw-normal font-display mb-5 text-white">Download Our COVID Care App.</h3>
									<a href="#" class="button button-light button-large rounded-pill bg-color-2 text-dark px-4 py-2 h-op-09 op-ts">Register</a>
									<a href="#" class="button button-light button-large bg-white rounded-pill color px-4 py-2 ms-2 h-op-09 op-ts">Download App</a>
								</div> -->
						<div class="w-5 clear line"></div>
						<div class="col-lg-9">
							<div class="widget clearfix">

								<div class="row col-mb-30">
									<div class="col-lg-6 col-6 widget_links">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="/about">About</a></li>
											<li><a href="/services">Services</a></li>
											<!-- <li><a href="#">Support</a></li>
																							<li><a href="#">Contact</a></li> -->
										</ul>
									</div>

									<!-- <div class="col-lg-3 col-6 widget_links">
												<ul>
													<li><a href="#">Shop</a></li>
													<li><a href="#">Portfolio</a></li>
													<li><a href="#">Blog</a></li>
													<li><a href="#">Events</a></li>
													<li><a href="#">Forums</a></li>
												</ul>
											</div> -->

									<div class="col-lg-6 col-6 widget_links">
										<ul>
											<li><a href="/contact">Contact</a></li>
											<!-- <li><a href="#">Blog</a></li> -->
											<li><a href="/login">Member Login</a></li>
											<!-- <li><a href="#">Personal</a></li>
																						<li><a href="#">One Page</a></li> -->
										</ul>
									</div>

									<!-- <div class="col-lg-3 col-6 widget_links">
												<ul>
													<li><a href="#">Corporate</a></li>
													<li><a href="#">Agency</a></li>
													<li><a href="#">eCommerce</a></li>
													<li><a href="#">Personal</a></li>
													<li><a href="#">One Page</a></li>
												</ul>
											</div> -->
								</div>

							</div>
						</div>

						<div class="col-lg-3 mt-5 mt-lg-0 text-center text-lg-end">
							<div class="widget clearfix">

								<div class="row">
									<div class="col-12 mb-3">
										<small>Call Us:</small>
										<h4 class="h4">
											<a href="tel:(773) 961-7924">(773) 961-7924</a><br>
											<a href="tel:(708) 774-1040">(708) 774-1040</a>
										</h4>
									</div>

									<div class="col-12 d-flex justify-content-center justify-content-lg-end">
										<a href="#" class="social-icon si-small si-light si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="#" class="social-icon si-small si-light si-delicious">
											<i class="icon-delicious"></i>
											<i class="icon-delicious"></i>
										</a>
										<a href="#" class="social-icon si-small si-light si-paypal">
											<i class="icon-paypal"></i>
											<i class="icon-paypal"></i>
										</a>
										<a href="#" class="social-icon si-small si-light si-flattr">
											<i class="icon-flattr"></i>
											<i class="icon-flattr"></i>
										</a>
									</div>

									<div class="col-12 mt-5 text-white-50 text-smaller">
										All Rights Reserved <br>&copy; 2022 by ZoomLab Care<br>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>

</html>