<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link
		href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=IBM+Plex+Serif:wght@400;500;600&family=Playfair+Display&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Covid Care Demo Specific Stylesheet -->
	<link rel="stylesheet" href="demos/covid-care/covid-care.css" type="text/css" /> <!-- Covid Care Custom Css -->
	<link rel="stylesheet" href="demos/covid-care/css/fonts.css" type="text/css" /> <!-- Covid Care Custom Fonts -->
	<!-- / -->

	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="css/colors.php?color=0F6458" type="text/css" />
	<!-- add css below -->

	<style>
		/* .final-img { */
			/* width: 100%; */
			/* height: 100%; */
			/* object-fit: cover; */
		/* } */
	</style>
	<!-- Document Title
	============================================= -->
	<title>Covid Care | ZoomLabCare</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="py-4 text-center bg-color-2">
			<div class="container clearfix">
				<h4 class="mb-0 h6 fst-normal">COVID-19? We're in this together &amp; will get through this, Together.</h4>
			</div>
		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="/" class="standard-logo">
								<img src="images/New-Logo-1-removebg-preview.png" alt="Zoom Lab Logo">
							</a>
						</div><!-- #logo end -->

						<!-- Primary Menu Mobile Trigger
						============================================= -->
						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100">
								<path
									d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
								</path>
								<path d="m 30,50 h 40"></path>
								<path
									d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
								</path>
							</svg>
						</div>

						<!-- Header Buttonsf
						============================================= -->
						<div class="header-misc">
							<a href="tel:(773) 961-7924"
								class="button rounded-pill bg-color-2 button-light text-dark ls0 fw-medium m-0">Call Now!</a>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu">

							<ul class="menu-container">
								<li class="menu-item"><a class="menu-link" href="/">
										<div>Home</div>
									</a></li>
								<li class="menu-item"><a class="menu-link" href="about">
										<div>About Us</div>
									</a></li>
								<li class="menu-item"><a class="menu-link" href="services">
										<div>Services</div>
									</a></li>
								<!-- <li class="menu-item"><a class="menu-link" href="blog"><div>Blog</div></a></li> -->
								<li class="menu-item"><a class="menu-link" href="contact">
										<div>Contact</div>
									</a></li>
								<li class="menu-item"><a class="menu-link" href="login">
										<div>Member Login</div>
									</a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		<!-- Slider / Hero
		============================================= -->
		<div id="slider" class="slider-element dark py-5">

			<div class="container">
				<div class="row">
					<div class="col-lg-5 py-5">
						<h2 class="display-4 color fw-normal font-display">The Threat is the Virus, not the people. We will get
							through this, Together.</h2>
						<!-- <p class="color">Objectively harness robust ROI via functional leadership skills. Holisticly create one-to-one models.</p> -->
						<a href="/contact" class="btn text-larger rounded-pill bg-color text-white px-4 py-2 h-op-09 op-ts">Get
							Tested</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

				<div class="container">

					<!-- How We Care
					============================================= -->
					<div class="row justify-content-center mt-5">
						<div class="col-md-7 text-center">
							<h3 class="display-4 color fw-bold font-display">How We Care</h3>
							<p class="lead" style="line-height: 1.5">Testing demand is higher than ever, so we want you to know that
								we are here to support.</p>
							<img src="images/lab-img-3.png" alt="">
						</div>
					</div>

					<div class="row justify-content-center align-items-center gutter-50 col-mb-80 mt-5">
						<div class="col-xl-9 col-lg-11">
							<div class="row feature-box-border col-mb-30 justify-content-center align-items-center">
								<div class="col-md-6 feature-box fbox-color">
									<div class="fbox-icon">
										<i>1</i>
									</div>
									<div class="fbox-content">
										<h3 class="nott text-larger mb-2">Sometimes You Can't Wait</h3>
										<p>Our clinic delivers PCR COVID test results. No Appointment. No insurance.</p>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<img src="demos/covid-care/images/illustration/doctors.svg" alt="Image" class="p-4" height="230">
								</div>

								<div class="clear"></div>

								<div class="col-md-6 feature-box fbox-border fbox-light fbox-effect">
									<div class="fbox-icon">
										<i>2</i>
									</div>
									<div class="fbox-content">
										<h3 class="nott text-larger mb-2">Workplace Testing</h3>
										<p>ZoomLab Express Care will travel to your place of business to conduct on-site COVID testing,
											vaccine administration,
											flu shot clinics and more. Safeguard your business, prevent health-related interruptions, and
											offer your employees
											convenience and peace of mind.</p>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<img src="demos/covid-care/images/illustration/diet.jpg" alt="Image" class="p-4" height="230">
								</div>

								<div class="clear"></div>

								<div class="col-md-6 feature-box fbox-border fbox-light fbox-effect">
									<div class="fbox-icon">
										<i>3</i>
									</div>
									<div class="fbox-content">
										<h3 class="nott text-larger mb-2">At Home Testing</h3>
										<p>Yes, we understand many of you and your loved once can't travel outside so we have decided to
											come to you!</p>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<img src="demos/covid-care/images/illustration/nurse.png" alt="Image" class="p-4" height="230">
								</div>

								<div class="clear"></div>

								<div class="col-md-6 feature-box fbox-border fbox-light fbox-effect">
									<div class="fbox-icon">
										<i>4</i>
									</div>
									<div class="fbox-content">
										<h3 class="nott text-larger mb-2">Rapid Swab</h3>
										<p>We do offer quality rapid tests. Because these are scarce and need to be used on the proper
											patient population, we must adhere to the FDA EUA guidelines. In order to get the tested, please
											contact us</p>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<img src="demos/covid-care/images/illustration/delivery.svg" alt="Image" class="p-4" height="230">
								</div>

								<div class="clear"></div>

								<div class="col-md-6 feature-box fbox-border fbox-light fbox-effect noborder">
									<div class="fbox-icon">
										<i>5</i>
									</div>
									<div class="fbox-content">
										<h3 class="nott text-larger mb-2">24/7 Support</h3>
										<p>Don't hesitate to contact us with any questions or concerns anytime, because we will get through
											this together. </p>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<img src="demos/covid-care/images/illustration/support.svg" alt="Image" class="p-5" height="230">
								</div>

							</div>
						</div>
					</div>

					<!-- Get 24/7 Care
					============================================= -->
					<div class="row justify-content-between align-items-center my-6 col-mb-50">
						<div class="col-lg-5">
							<h3 class="display-3 color fw-normal font-display mb-5">The Right Choice of Care for your Family</h3>

							<div class="feature-box fbox-sm mb-4">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-line-calendar"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Same-Day Appointments.</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-4">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-line-speech-bubble"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Get Unlimited 24/7 chat with no extra cost.</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-4">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-line-video"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Anytime video-call with no extra cost.</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-4">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-head-side-mask"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Masks, Sanitizers and Gloves available.</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-4">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-line-phone-call"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Direct Conversation with Our Specialists.</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-4">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-line-map-pin"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">We're available in 23 Major Cities.</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-5">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-hospital2"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Connected with Major Hospitals.</h3>
								</div>
							</div>

							<!-- <a href="#" class="color fw-bold border-bottom border-width-2 border-color me-2 text-capitalize">Learn more about our Support</a><i class="icon-chevron-right icon-stacked text-smaller color"></i> -->
						</div>
						<div class="col-lg-6">
							<img src="demos/covid-care/images/phone.jpg" alt="Phone call" class="rounded">
						</div>
					</div>

					<!-- Prevention of Covid-19
					============================================= -->
					<div class="row justify-content-between align-items-center my-6 col-mb-50">
						<div class="col-lg-6">
							<img src="demos/covid-care/images/covid.jpg" alt="Phone call" class="rounded">
						</div>
						<div class="col-lg-5">
							<h3 class="display-3 color fw-normal font-display mb-5">Prevention of Covid-19</h3>

							<p class="text-large color">Due to the current surge in COVID cases, appointments are filling fast. Please
								call us as soon as possible to reserve your spot.</p>

							<div class="feature-box fbox-sm mb-2">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-head-side-mask"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Wear a Mask</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-2">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-head-side-virus"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Social Distancing</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-2">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-line-home"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Stay at Home</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-2">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-pump-soap"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Wash your Hands</h3>
								</div>
							</div>

							<div class="feature-box fbox-sm mb-4">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-head-side-cough"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-normal mb-2">Cover your Coughs</h3>
								</div>
							</div>
							<!-- <img src="images/lab-img-2.jpeg" alt=""> -->

							<div class="clear"></div>

							<!-- <a href="#" class="color fw-bold border-bottom border-width-2 border-color me-2 text-capitalize">Learn more</a><i class="icon-chevron-right icon-stacked text-smaller color"></i> -->
						</div>
					</div>
				

				</div>

				<!-- Featured Icons Area
				============================================= -->
				<div class="container topmargin-lg clearfix">

					<div class="row align-items-stretch grid-border clearfix">
						<div class="col-lg-4 col-md-6 col-padding">
							<div class="feature-box fbox-center fbox-dark fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="color icon-hands-wash"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-medium">Wash your Hands</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-padding">
							<div class="feature-box fbox-center fbox-dark fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="color icon-home"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-medium">Stay at Home</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-padding">
							<div class="feature-box fbox-center fbox-dark fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="color icon-head-side-mask"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-medium">Wear Your Mask</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-padding">
							<div class="feature-box fbox-center fbox-dark fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="color icon-head-side-cough"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-medium">Cover Your Coughs</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-padding">
							<div class="feature-box fbox-center fbox-dark fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="color icon-shield-virus"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-medium">Social Distancing</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-padding">
							<div class="feature-box fbox-center fbox-dark fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="color icon-utensils"></i></a>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger fw-medium">Healthy Diet</h3>
								</div>
							</div>
						</div>
					</div>

					<div class="clear"></div>
				</div>
				<div class="container">
					<div class="row justify-content-center mt-5">
						<img src="images/lab-img-2.jpeg" alt="">
					</div>
				</div>
			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark bg-color border-top-0"
			style="background: url('demos/covid-care/images/illustration/footer-bg.svg') repeat center center / contain;">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row justify-content-center">
						<div class="w-5 clear line"></div>
						<div class="col-lg-9">
							<div class="widget clearfix">

								<div class="row col-mb-30">
									<div class="col-lg-6 col-6 widget_links">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="/about">About</a></li>
											<li><a href="/services">Services</a></li>
										</ul>
									</div>

									<div class="col-lg-6 col-6 widget_links">
										<ul>
											<li><a href="/contact">Contact</a></li>
											<li><a href="/login">Member Login</a></li>

										</ul>
									</div>
								</div>

							</div>
						</div>

						<div class="col-lg-3 mt-5 mt-lg-0 text-center text-lg-end">
							<div class="widget clearfix">

								<div class="row">
									<div class="col-12 mb-3">
										<small>Call Us:</small>
										<h4 class="h4">
											<a href="tel:(773) 961-7924">(773) 961-7924</a><br>
											<a href="tel:(708) 774-1040">(708) 774-1040</a>
										</h4>
									</div>

									<div class="col-12 d-flex justify-content-center justify-content-lg-end">
										<a href="#" class="social-icon si-small si-light si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="#" class="social-icon si-small si-light si-delicious">
											<i class="icon-delicious"></i>
											<i class="icon-delicious"></i>
										</a>
										<a href="#" class="social-icon si-small si-light si-paypal">
											<i class="icon-paypal"></i>
											<i class="icon-paypal"></i>
										</a>
										<a href="#" class="social-icon si-small si-light si-flattr">
											<i class="icon-flattr"></i>
											<i class="icon-flattr"></i>
										</a>
									</div>

									<div class="col-12 mt-5 text-white-50 text-smaller">
										All Rights Reserved <br>&copy; 2022 by ZoomLab Care<br>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>

</html>