<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit - Blank Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="Meet pages - The simplest and fastest way to build web UI for your dashboard or app." name="description" />
    <meta content="Ace" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- File pond  -->
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />

    <!-- Image preview -->
    <link href="assets/plugins/image-preview/css/lightbox.min.css" rel="stylesheet" />
    <!-- <link type="text/css" rel="stylesheet" href="assets/plugins/dropzone/css/dropzone.css"> -->
    <!-- File uploads -->
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <!-- Custom page styles -->
    <link class="main-stylesheet" href="assets/css/customers.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="fixed-header ">
    <!-- BEGIN SIDEBPANEL-->
      <nav class="page-sidebar" data-pages="sidebar">
        <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
        <div class="sidebar-overlay-slide from-top" id="appMenu">
          <p class="text-white">You can freeze and unfreeze the side menu by toggling the circle on the top right corner of
            this menu</p>
        </div>
        <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
        <!-- BEGIN SIDEBAR MENU HEADER-->
        <div class="sidebar-header">
          <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png"
            data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
          <div class="sidebar-header-controls">
            <button aria-label="Toggle Drawer" type="button"
              class="btn btn-icon-link invert sidebar-slide-toggle m-l-20 m-r-10" data-pages-toggle="#appMenu">
              <i class="pg-icon">chevron_down</i>
            </button>
            <button aria-label="Pin Menu" type="button"
              class="btn btn-icon-link invert d-lg-inline-block d-xlg-inline-block d-md-inline-block d-sm-none d-none"
              data-toggle-pin="sidebar">
              <i class="pg-icon"></i>
            </button>
          </div>
        </div>
        <!-- END SIDEBAR MENU HEADER-->
        <!-- START SIDEBAR MENU -->
        <div class="sidebar-menu">
          <!-- BEGIN SIDEBAR MENU ITEMS-->
          <ul class="menu-items">
            <li id="sideBarDashboardLink" class="m-t-20">
              <a href="dashboard" class="detailed">
                <span class="title">Dashboard</span>
              </a>
              <span class="icon-thumbnail"><i class="pg-icon">home</i></span>
            </li>
            <!-- Customers -->
            <li class="">
              <a href="customers" class="detailed">
                <span class="title">Customers</span>
                <!-- <span class="details">234 New Emails</span> -->
              </a>
              <span class="icon-thumbnail"><i class="pg-icon">social</i></span>
            </li>
            <li class="">
              <a href="/" class="detailed" target="_blank">
                <span class="title">Front End</span>
                <!-- <span class="details">234 New Emails</span> -->
              </a>
              <span class="icon-thumbnail"><i class="pg-icon">effects</i></span>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- END SIDEBAR MENU -->
      </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE SIDEBAR TOGGLE -->
        <a href="#" class="btn-link toggle-sidebar d-lg-none pg-icon btn-icon-link" data-toggle="sidebar">
      		menu</a>
        <!-- END MOBILE SIDEBAR TOGGLE -->
        <div class="">
          <div class="brand inline   ">
          <a href="dashboard">
            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png"
              width="78" height="22">
          </a>          </div>
          <!-- START NOTIFICATION LIST -->
          <!-- END NOTIFICATIONS LIST -->
        </div>
        <div class="d-flex align-items-center">
          <!-- START User Info-->
          <div class="dropdown pull-right d-lg-block d-none">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="profile dropdown">
              <span class="thumbnail-wrapper d32 circular inline">
      					<img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg"
      						data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
      				</span>
            </button>
          <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
            <div class="dropdown-item">
              <span>Signed in as <br /><b id="userNameTopRight">Username</b></span>
            </div>
            <div class="dropdown-divider"></div>
            <!-- <a href="#" class="dropdown-item">Your Profile</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a href="#" class="dropdown-item">Help</a> -->
            <a id="logoutBtn" href="/logout" class="dropdown-item">Logout</a>
          </div>
          </div>
          <!-- END User Info-->
        </div>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
          <!-- MODAL STICK UP  -->
          <div class="modal fade stick-up" id="addNewAppModal" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header clearfix ">
                  <button aria-label="" type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-icon">close</i>
                  </button>
                  <h4 class="p-b-5"><span class="semi-bold">New</span> Customer</h4>
                </div>
                <!-- Progress spinner -->
                <!-- <div id="addCustomerSpinner"class="progress-circle-indeterminate" style="display:none !important; position: absolute; left: 45%; top: 35%; z-index: 999;"></div> -->
                <div id="addCustomerSpinner" class="spinner-border" role="status" style="position: absolute; left: 45%; top: 35%; z-index: 999;">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="modal-body">
                  <p id="errors" class="small-text"></p>
                  <form id="addCustomerForm"role="form" action="/api/customer" method="POST" enctype="multipart/form-data">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group form-group-default">
                          <label for="firstname"> First Name</label>
                          <input required name="firstname" id="firstName" type="text" class="form-control" placeholder="John">
                        </div>
                      </div>
                        <div class="col-sm-6">
                          <div class="form-group form-group-default">
                            <label for="lastname">Last Name</label>
                            <input required name="lastname" id="lastName" type="text" class="form-control" placeholder="Smith">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label for="email">Email</label>
                          <input required name="email" id="email" type="text" class="form-control" placeholder="johnsmith@gmail.com">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label for="address">Address</label>
                          <input required name="address" id="address" type="text" class="form-control" placeholder="2600 S River rd, Des Plaines, IL 60018">
                        </div>
                      </div>
                    </div>
                              <div class="row">
                                <div class="col-md-8">
                                  <select id="addCustomerLocationSelector"class=" locationSelector testing-location-ddl form-select form-group form-group-default" aria-label="Default select example">
                                    <option selected>Select a Location</option>
                                  </select>
                                </div>
                              </div>
                    <!-- <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label for="location">Testing Location</label>
                          <input required name="location" id="customerLocation" type="text" class="form-control" placeholder="Skokie, Chicago, etc">
                        </div>
                      </div>
                    </div> -->
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group form-group-default">
                            <label for="dob">Date of Birth</label>
                            <input required name="dob" id="dob" type="text" class="form-control"
                              placeholder="MM/DD/YYYY">
                          </div>
                        </div>
                      </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group form-group-default">
                                <label for="phone">Phone</label>
                                <input required name="phone" id="phone" type="text" class="form-control" placeholder="(999) 999-999">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 d-flex flex-column p-t-3 p-b-20">
                              <label for="idImage">Upload ID Picture</label>
                              <input type="file" name="idImage" class="" accept="image/*">
                            </div>
                          </div>
                      <!-- Signature -->
                          <div class="row">
                            <div class="col-md-12">
                              <p class="fs-16">E-Signature</p>
                              <p>Sign in the canvas below.</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <canvas id="sig-canvas" width="290" height="110">
                                Browser Not Supported
                              </canvas>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <button class="m-2 btn btn-primary" id="sig-submitBtn">Save Signature</button>
                              <button class="m-2 btn btn-default" id="sig-clearBtn">Clear Signature</button>
                            </div>
                          </div>
                          <br />
                          <div class="row">
                            <div class="col-md-12">
                              <img class="p-b-15"style="width: 50%;" id="sig-image" src="/assets/img/sign-required.png" alt="Your signature will go here!" />
                            </div>
                          </div>
                        <div class="hide">
                          <label for="customerSignature">Date of Birth</label>
                          <input id="sig-dataUrl" required name="customerSignature" id="customerSignature" type="text" class="form-control" placeholder="">
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <button aria-label="" id="add-app" class="m-2 btn btn-primary  btn-cons" type="submit">Save Customer</button>
                            <button aria-label="" type="button" class="m-2 btn btn-cons" data-dismiss="modal">Close</button>
                            <button aria-label="" id="clearNewCustomerForm" type="button" class="m-2 btn btn-cons" >Clear Form</button>
                          </div>
                        </div>
                  </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- Customer info modal -->
          <!-- Customer Modal -->
          <div class="modal fade slide-up" id="customerInfoModal" tabindex="-1" role="dialog"
            aria-labelledby="modalSlideUpLabel" aria-hidden="false">
            <div class="modal-dialog ">
              <div class="modal-content-wrapper">
                <div class="modal-content">
                  <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="pg-close fs-14"></i>x
                    </button>
                    <h5>Customer <span class="semi-bold">Details</span></h5>
                  </div>
                  <div class="modal-body">
                    <div class="card-body">
                      <div class="table-responsive">
                        <!-- customer details table -->
                        <table id="detailedTable" class="table table-hover demo-table-search table-responsive-block">
                          <thead>
                            <tr>
                              <th>Field</th>
                              <th>Data</th>
                            </tr>
                          </thead>
                          <tbody id="customerDetailTable">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
          </div>
          <!-- /.modal-dialog -->
          <!-- Button trigger modal -->
          <button id="customerInfoBtn" style="display: none;"class="btn btn-primary btn-lg" data-toggle="modal" data-target="#customerInfoModal">
          </button>
          <!-- START JUMBOTRON -->
          <div class="jumbotron" data-pages="parallax">
            <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
              <div class="inner">
                <!-- START BREADCRUMB -->
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
                  <li class="breadcrumb-item active">Customers</li>
                </ol>
                <!-- END BREADCRUMB -->
              </div>
            </div>
          </div>
          <!-- END JUMBOTRON -->
          <!-- START CONTAINER FLUID -->
          <div class=" container-fluid   container-fixed-lg bg-white">
            <!-- START card -->
            <div class="card card-transparent">
              <div class="card-header ">
                <div class="card-title">Customers
                </div>
                <div class="pull-right">
                  <div class="col-xs-12">
                    <button aria-label="" id="show-modal" class="btn btn-primary btn-cons"><i class="pg-icon">add</i> Add Customer
                    </button>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="card-header ">
                <div class="pull-left">
                  <div class="col-xs-12">
                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <!-- All customers table -->
              <div class="card-body">
                <table class="table table-hover demo-table-search table-responsive-block" id="tableWithSearch">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Address</th>
                      <th>Testing Location</th>
                      <th>ID Picture</th>
                    </tr>
                  </thead>
                  <tbody id="allCustomers">
                  </tbody>
                </table>
              </div>
            </div>
            <!-- END card -->
          </div>
          <!-- END CONTAINER FLUID -->
          <!-- START CONTAINER FLUID -->

          <!-- END CONTAINER FLUID -->
          <!-- START CONTAINER FLUID -->
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class=" container-fluid  container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small-text no-margin pull-left sm-pull-reset">
              ©2014-2020 All Rights Reserved. Pages® and/or its subsidiaries or affiliates are registered trademark of Revox Ltd.
              <span class="hint-text m-l-15">Pages v05.23 20201105.r.190</span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              Hand-crafted <span class="hint-text">&amp; made with Love</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN VENDOR JS -->
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
    <!--  A polyfill for browsers that don't support ligatures: remove liga.js if not needed-->
    <script src="assets/plugins/liga.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/jquery-datatable/media/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <!-- END VENDOR JS -->
  <!-- File pond js -->
  <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

  <!-- Image preview js -->
  <script src="assets/plugins/image-preview/js/lightbox.min.js"></script>

    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/customers.js" type="text/javascript"></script>
    <script src="assets/js/scripts.js" type="text/javascript"></script>   
    <script src="assets/js/isAdmin.js" type="text/javascript"></script>  
    <script src="assets/js/locationSelectorValues.js" type="text/javascript"></script>
    <script src="assets/js/setUserName.js" type="text/javascript"></script>
      
    <!-- END PAGE LEVEL JS -->
  </body>
</html>